
jsf-basic-master/.classpath

jsf-basic-master/.project

jsf-basic-master/.settings/.jsdtscope

*.prefs

*.component

jsf-basic-master/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml

jsf-basic-master/.settings/org.eclipse.wst.common.project.facet.core.xml

jsf-basic-master/.settings/org.eclipse.wst.jsdt.ui.superType.container

jsf-basic-master/.settings/org.eclipse.wst.jsdt.ui.superType.name
