<mat-grid-list cols="6" rowHeight="350px">
    <mat-grid-tile [colspan]="2">
        <img src="https://cdn.countryflags.com/thumbs/slovakia/flag-3d-round-250.png" atl="image" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"> 
        <h1>{{score}}</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <img src="https://cdn.countryflags.com/thumbs/slovakia/flag-3d-round-250.png" atl="image" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" class="stats left">
        <table mat-table [dataSource]="dataSourceSquadHome" matSort>
           
            <ng-container matColumnDef="numberHome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
             <!-- Home Column -->
            <ng-container matColumnDef="playerHome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Player </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} <div class="obrHome" *ngFor="let item of arrayOne(element.goals);"><img src="https://img.icons8.com/pastel-glyph/64/000000/football2.png" height="25" atl="image"/></div></td>
            </ng-container>
             
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSquadHome"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSquadHome;"></tr>
        </table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3"class="stats right">
        <table mat-table [dataSource]="dataSourceSquadAway" matSort >
           
            <ng-container matColumnDef="numberAway">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headCenter"> # </th>
                <td mat-cell *matCellDef="let element"> {{element.number}} </td>
            </ng-container>
             <!-- Home Column -->
            <ng-container matColumnDef="playerAway">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="headRight"> Player </th>
                <td mat-cell *matCellDef="let element"><div class="obr" *ngFor="let item of arrayOne(element.goals);"><img src="https://img.icons8.com/pastel-glyph/64/000000/football2.png" height="25" atl="image"/></div> {{element.name}} </td>
            </ng-container>
             
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSquadAway"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSquadAway;"></tr>
        </table>
    </mat-grid-tile>
</mat-grid-list>