h1{
    font-size: 150px;
}
.stats{
    height: 150% !important;
    padding:0;
}

  table {
    background-color:transparent;
    width: 100%;
  }

  .mat-column-numberHome{
    text-align: left;
    width:15px;
  }
  .mat-column-playerHome{
    text-align: left;
  }

  .mat-column-numberAway{
    text-align: right;
    width:25px;
    padding-right:35px;
  }
  .mat-column-playerAway{
    text-align: right;
    padding-right: 10px;
    
  }
  h2{
    width: 100%;
  }
  ::ng-deep .flagTile .mat-figure{
    display: flow-root !important;
    text-align: center;
  }
  .headCenter{
    padding-right: 0px !important;
  }
  ::ng-deep .mat-sort-header-container.ng-tns-c117-4{
    padding-left: 15px !important;
  }

  ::ng-deep .mat-sort-header-container.ng-tns-c117-3{
    float:right;
  }
  .obr{
    float:left;
    display: contents;
  }
  .obrHome{
    float:right;
    display: contents;
  }
  ::ng-deep .left .mat-figure{
    display: block !important;
}
::ng-deep .right .mat-figure{
  display: block !important;
}

td p{
  display: contents;
  color: rgba(0, 0, 0, 0.4);
}
::ng-deep .skoreClass .mat-figure{
  display: grid !important;
  grid-template-rows: 1fr  1fr 5fr;
}
::ng-deep .skoreClass .mat-figure h1, ::ng-deep .skoreClass .mat-figure h3{
text-align: center;
}
::ng-deep .skoreClass .mat-figure h1, ::ng-deep .skoreClass .mat-figure button{
  align-items: center;
  }

.editGoals{
  float:right;
  display: contents;
}
.save{
  text-align: center;
}
.info{
  display: flex;
}
.ingoMatch{
  display: block;
}
.centerButton{
  text-align: center;
}

.timeInput{
  width: 30px;
}
mat-select{
  background-color: white;
  width: fit-content;
}
::ng-deep mat-select .mat-select-trigger{
  width: 200px;
}
.infoInput2{
  height: 20px;
  width:50px;
}
.infoInput1{
  height: 20px;
  width:85px;
}
.infoInput3{
  height: 20px;
  width:115px;
}
.saveDiv{
  text-align: center;
}
button{
width: 156px;
height: 20px;
line-height: 20px;
min-height: 20px;
vertical-align: top;
font-size: 12px;
padding: 0 0;
margin: 0;
}

button:hover {
  background-color: rgb(6, 0, 90); /* Green */
  color: white;
}