p{
    text-align: center;
}

mat-grid-list {
    max-width: 300px;
}

.grid-div {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
#left-groups {
    margin: 0;
    padding: 0;
    min-width: 280px;
    display:inline-block;
}

.spider-main {
    margin: 0;
    min-width: 280px;
    display: inline-block;
}

#right-groups {
    display: inline-block;
    min-width: 280px;
    height: 300px;
}

mat-spinner {
    margin: auto;
    margin-top: 50px;
}