<mat-grid-list cols="6" rowHeight=175px>
  <mat-grid-tile>
    <app-table-group  [source]="'A'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'B'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'C'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'D'"></app-table-group>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight=175px>
  <mat-grid-tile>
    <app-table-group  [source]="'E'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'F'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'G'"></app-table-group>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-table-group  [source]="'H'"></app-table-group>
  </mat-grid-tile>
</mat-grid-list>