<mat-card class="log-middle mat-elevation-z8">
    <h3>Register</h3>
    <form class="login-form" (submit)="registerUser($event)">
        <mat-form-field class="login-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email address" id="email">
        </mat-form-field> 

        <mat-form-field class="login-full-width" appearance="outline">
            <mat-label>Meno</mat-label>
            <input matInput placeholder="Name" id="name">
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="outline">
            <mat-label>Priezvisko</mat-label>
            <input matInput placeholder="Surname" id="surname">
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="outline">
            <mat-label>Heslo</mat-label>
            <input matInput type="password" placeholder="Password" id="password">
            <mat-hint align="end">Min. 5 znakov</mat-hint>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">Register</button>
    </form>
</mat-card>