.navbar {
    justify-content :space-between;
}
input{
    padding-right: 10px;
}

a:link{
    text-decoration: none;
}
a{
    color:white;
}
span {
    font-weight: 350;
    padding: 0px 15px;
}
.appname {
    display: inline-block;
    font-weight: 500;
    border-right: 2px solid rgb(180, 193, 218);
}
.visible{
    position:fixed;
    z-index: 1000;
}
.hidden{
    visibility: hidden;
}

.search-input {
    display: inline-block;
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
    font-size: medium;
}

.combik {
    max-width: 100px;
}
