table {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width:100%;
    height:100%;
    margin: 5%;
    font-size: 50px;
  }

  .flag-icon{
      width: 30px;
      height: 30px;
      padding:auto;
     
  }

  .mat-column-position{
    width: 10px;
}
.mat-column-body{
    text-align: right;
}
.mat-column-flag{
    width: 50px;
    margin-left: 5px;
    
}
td{
    font-size: 25px;
}
table{
    border: 2px solid #73AD21;
    border-radius: 25px;
    background-color: transparent;
}